/*!
 * Theme	:	Plugin - Documentation Theme v1.0.0
 * Author	:	Rajendra Prasad
 * Twitter	:	madebyraj	 
 *
 * Copyright 2012 DoozyPixels
 * http://www.doozypixels.com
 *
 * Designed for designers and developers
 */


/* Replace Bootstrap Icons Background Css With Font-Awesome Icons */

[class^="icon-"],
[class*=" icon-"],
.icon-white{
  background-image: none;
}
/* Theme General Css */
body{ 
  background: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight:400;
}
.container{
  min-height: 40px;
}
.align-center{
  text-align: center;
}
p{
  font-family: 'Open Sans', sans-serif;
  font-weight:400;
  
}
hr.soften {
  height: 1px;
  margin: 34px 0;
  background-image: -webkit-linear-gradient(left, transparent, rgba(0, 0, 0, .1), transparent);
  background-image: -moz-linear-gradient(left, transparent, rgba(0, 0, 0, .1), transparent);
  background-image: -ms-linear-gradient(left, transparent, rgba(0, 0, 0, .1), transparent);
  background-image: -o-linear-gradient(left, transparent, rgba(0, 0, 0, .1), transparent);
  border: 0;
}

/* Google WebFonts */
.font-bree-serif{
  font-family: 'Bree Serif', serif;
  font-weight:400;
}
.font-open-sans-book,
.font-open-sans-book-italic,
.font-open-sans-normal,
.font-open-sans-normal-italic,
.font-open-sans-semi-bold,
.font-open-sans-semi-bold-italic,
.font-open-sans-bold,
.font-open-sans-bold-italic{
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
.font-open-sans-normal,
.font-open-sans-normal-italic{
  font-weight: 400;
  line-height: 24px;
}
.font-open-sans-semi-bold,
.font-open-sans-semi-bold-italic{
  font-weight: 600;
}
.font-open-sans-bold,
.font-open-sans-bold-italic{
  font-weight: 700;
}
.font-open-sans-book-italic,
.font-open-sans-normal-italic,
.font-open-sans-semi-bold-italic,
.font-open-sans-bold-italic{
  font-style: italic;
}
header{
  width:100%; 	
  background: #f2f2f2;
  padding-bottom: 20px;
  margin-bottom: 30px;
  box-shadow: 0px 1px 10px #ccc;

}
.masthead{
    text-align:center;
    padding-top: 20px;
}
#brand{
  display: block;	
  background: url(../img/logo.png) no-repeat; 
  background-position:center;
  width: 753px; 
  height: 408px;
  text-indent: -9999px;
  margin: 30px auto;
  -moz-background-size:cover; 
  -webkit-background-size:cover; 
  background-size:cover;

}
.masthead h1{ 
  font-size: 36px;
  margin: 0 0 20px
}
.masthead p{ 
  font-size: 16px;
}
.jumbo{
  margin: 30px 0;
}
.jumbo .btn-large{
  padding: 20px 30px;
  margin-right: 10px;
  font-size: 18px;
}
.jumbo a small{
  color: #fff;
}

.share .build-status {
  padding-bottom: 10px;
}

.tab-content{		
  min-height: 300px;
}
.tab-content h4{
  margin-top:10px;
}
.features{
  margin-top: 40px;
}
.tab-content .feature-icon {
  float: left;
  margin: 7px 10px 0 0;
  font-size: 20px;
}

.thumbnails{
  margin-top: 20px;
}
.sec-header{
  margin-bottom: 20px;
}
.sec-header h3{
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: dotted 1px #ddd;
}
.sec-header h4{
  margin: 10px 0;
  padding: 5px;
  background: #ddd;
}
.sec-header h5{
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: dotted 1px #ddd;
}

.settings thead th{ 
  background: #ddd;}
.settings tbody tr td:first-child{
  color: #060;}

.accordion-heading .accordion-toggle:hover{
  background: #ddd;
}
footer{
  width: 100%;
  background: #333;
  padding-top: 20px;
  margin-top: 20px;
}
footer p{ 
  font-size:11px;
  color: #fff;
  
}

@media only screen and (max-width: 1024px) and (orientation:landscape) {
#brand{
  background: url(../img/logo.png) 50% 0 no-repeat scroll !important; 
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  width: 100%;

}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {

#brand{
  background: url(../img/logo.png) 50% 80% 0 no-repeat scroll !important; 
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  width: 100%;

}	
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
header{
  margin-top: 20px;
}	
#brand{
  background: url(../img/logo.png) 50% 50% 0 no-repeat scroll !important; 
  background-position:center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  width: 100%;
}
.masthead p{
  padding: 0 10px;
}
.jumbo .btn-large{
  margin-right: 0px;
  margin-bottom: 10px;
}
.nav-tabs{
  border-bottom: 0;
}
  
.nav-tabs li{
  display: block;
  float: none;
}
.nav-tabs > .active > a, .nav-tabs > .active > a:hover {
  color: #fff;
  cursor: default;
  background-color: #0088cc;
  border: 0;
  border-radius: 5px;

}
footer p{ 
  text-align:center; 
  
}
}